name: Deploy to QA

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with: { 
          node-version: '22.x' 
        }

      - run: |
          npm ci
          npm test
          npm run build --if-present
          mkdir deploy_package
          cp -r build deploy_package/
          cp index.js carts.js package.json package-lock.json deploy_package/

      - uses: actions/upload-artifact@v4
        with: { 
          name: app-bundle, 
          path: deploy_package 
        }

      - uses: actions/download-artifact@v4
        with: { 
          name: app-bundle, 
          path: app-bundle 
        }

      - uses: appleboy/scp-action@master
        with:
          host: 44.201.208.146
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "app-bundle/*"
          target: "app"
          strip_components: 1

      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TESTING_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd app
            npm ci --production
            pm2 restart app || pm2 start index.js --name app
