- name: Deploy to QA EC2
  uses: appleboy/ssh-action@v1
  with:
    host: ${{ secrets.TEST_EC2_HOST }}
    username: ${{ secrets.TEST_EC2_USER }}
    key: ${{ secrets.TEST_EC2_KEY }}
    script: |
      cd /home/ubuntu
      if [ ! -d "app" ]; then
        git clone https://github.com/hash-walker/devops.git app
      fi
      cd app
      git fetch origin
      git checkout ${{ github.head_ref }}
      git pull origin ${{ github.head_ref }}

      # Install dependencies
      npm install
      npm run build-react

      # Start app using pm2 so it runs in the background
      npm install -g pm2
      pm2 stop app || true
      pm2 start npm --name "app" -- start
      pm2 save
