name: QA Deployment

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  qa:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Unit Tests
        run: |
          echo "Running unit tests..."
          # example:
          # npm test
          # pytest
          # go test ./...

      - name: Code Linting
        run: |
          echo "Running lint..."
          # example:
          # eslint .
          # flake8 .

      - name: Deploy to QA EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.TEST_EC2_HOST }}
          username: ${{ secrets.TEST_EC2_USER }}
          key: ${{ secrets.TEST_EC2_KEY }}
          script: |
            cd /home/ubuntu
            if [ ! -d "app" ]; then
              git clone https://github.com/hash-walker/devops.git app
            fi
            cd app
            git fetch origin
            git checkout ${{ github.head_ref }}
            git pull origin ${{ github.head_ref }}
            
            # Install Node dependencies
            npm install
            
            # Build React app
            npm run build-react
            
            sudo npm install -g pm2
            sudo pm2 stop app || true
            sudo pm2 start npm --name "app" -- start
            sudo pm2 save

